body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  margin-top: 50px;
}

a {
  color: orange;
}

.content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tileWrapper {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.alpacaTile {
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 3px solid orange;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.alpacaTile>img {
  width: 100px;
}
